{% extends 'injectionCdP/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card border-0 col-md">
            <div class="card-header bg-info rounded">
                état
            </div>
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>nombre de grains</td>
                            <td>{{ nb_grains }}</td>
                        </tr>
                        <tr>
                            <td>nombre d'abonnements</td>
                            <td>{{ nb_abo }}</td>
                        </tr>
                        <tr>
                            <td>nombre de surveillances</td>
                            <td>{{ nb_surv }}</td>
                        </tr>
                        <tr>
                            <td>nombre de départements</td>
                            <td>{{ nb_dep }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="col-sm">
            <small id="extractionHelp" class="form-text text-muted">Voir <i>n</i> abonnements et leurs modèles liés</small>
            <form class="form" id="extraction">
                <fieldset disabled>
                    <div class="form-inline">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary" type="button">afficher</button>
                            </div>
                            <input class="form-control col-md-6 mb-6" name="sample" type="text" placeholder="n abonnements">
                        </div>
                    </div>
                </fieldset>
            </form>
            <br>

            
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#warningFlush" disabled>effacer la base de données</button>

            <!-- Modal -->
            <div class="modal fade" id="warningFlush" role="dialog">
                <div class="modal-dialog modal-dialog-centered">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header text-danger">
                        <h4 class="modal-title">Alerte</h4>
                    </div>
                    <div class="modal-body border border-danger">
                        <p>Vous êtes sur le point de réinitialiser l'ensemble de la BDD (et c'est long à refaire)</p>
                    </div>
                    <div class="modal-footer">
                        <form  class = "form-inline" method="post">{% csrf_token %}
                            <div>
                                <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Oups pardon</button>
                            </div>

                            <div>
                                <input type="submit" class="btn btn-danger btn-sm" id="flush" name="flush" value='ranafout'></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="card">
    <div class="card-header">Modifier la base de données</div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <fieldset disabled>
                <div class="form-group form-inline" id="ajoutEnlevForm">
                    <div>
                        <select id="inputPlusOuMoins" class="form-control">
                            <option selected>ajouter</option>
                            <option>enlever</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="nombre" placeholder="n" required>
                    </div>
                    <div>
                        <select id="inputObject" class="form-control">
                            <option selected>grains</option>
                            <option>abonnements</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" class="btn btn-success">valider</button>
                    </div>

                </div>
            </fieldset>
        </li>


        <li class="list-group-item">
            <form method="post">{% csrf_token %}
            <fieldset>

                <div class="form-row form-inline" id="reinit">
                    <div class="input-group-prepend">
                      <div class="input-group-text">réinitialiser à 0 les</div>
                  </div>
                  <select id="reinitObject" name="reinitObject" class="form-control">
                    <option value = 0 selected>grains</option>
                    <option value = 1>abonnements</option>
                    <option value = 2>départements</option>
                    <option value = -1>tous</option>
                </select>
                <div class="input-group-prepend">
                    <div class="input-group-text">pour les valeurs de</div>
                </div>
                <select id="reinitSeuil" name="reinitSeuil" class="form-control">
                    <option value = 0 selected>t0</option>
                    <option value = 1>t-1</option>
                    <option value = 2>t-2</option>
                    <option value = -1>tous</option>
                </select>
                <div>
                    <input type="submit" class="btn btn-success" id='reinitValid' name='reinitValid' value="réinitialiser"></input>
                </div>

            </fieldset>
            </form>
        </li>
        <br>
        <li class="list-group-item">
            <div>
                <label for="injection">Injecter des CdP</label>
                <form class="form-inline" method="post">{% csrf_token %}

                    <select id="injection" class="form-control" name="injection" required="true">
                        <option selected disabled>choisir un batch</option>
                        {% for batch in batches %}
                        <option>{{ batch }}</option>
                        {% endfor %}
                    </select>
                    <select id="injectionType" class="form-control" name="injectionType" required="true">
                        <option selected disabled>choisir une méthode</option>
                        <option value='Rl'>relationelle</option>
                        <option value='Text'>textuelle</option>
                    </select>
                    <div>
                    <input type="submit" class="btn btn-success" id="injectCdP" name="injectCdP" value="valider" ></input>
                    </div>
                </form>
            </div>
        </li>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  {{ message }}
</div>
  {% endfor %}
{% endif %}

    {% block pushbutton %}{% endblock %}


    {% endblock %}
